* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}

ul li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
   
}

button{
    border: none;
}

body{
    color: #FFFFFF;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1920px;
}

.container{
    max-width: 1680px;
    margin: 0 auto;
}

/* Start */
.banner_wrap{
    position: relative;    
    overflow: hidden;
    background-image: url(img/imgBackground\ 1.svg);
}

#header_section{
    margin-top: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo{
}
.header_logo ::after{
    position: absolute;
    content: "";
    padding-right: 30px;
    width: 4px;
    height: 3px;
    color: #ff972e;
    background: url(img/square.svg) 100% 100%/contain no-repeat;
}

.header_logo ::before{
    position: absolute;
    content: "";
    padding-right: 30px;
    width: 14px;
    height: 3px;
    color: #ff972e;
    background: url(img/arrow.svg) 100% 100%/contain no-repeat;
}

/* 
.nav_main{
    
    
} */

.nav_main_list{
    display: flex;
    gap: 40px;
}

/* 
.nav_main_link{
    font-weight: 600;
} */

/* Burger */
.cart_btn{
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    width: 30px;
    height: 18px;
  
}

.cart_btn span{
    width: 100%;
    height: 2px;
    
    background-color: rgb(255, 255, 255);
} 

.cart_btn::after, .cart_btn::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}
.cart_btn::after{
    bottom: 0px;
}

.cart_btn::before{
    top: 0px;
}

/* Banner */
#banner_section{
    margin-top: 166px;
}

.banner{
    width: 830px;
    font-weight: 700;
    font-size: 50px;
    line-height: 95px;
}

.banner_text{
    width: 430px;
    font-weight: 400;
    font-size: 30px;
    padding-top: 75px;
}


.banner_application{
    display: flex;
}
.application_bid{
    display: flex;
    margin: 75px 0 auto;
}

.bid_btn{
    width: 335px;
    height: 75px;
    border-radius: 40px;
    background-color: #DD9428;
    color: #331111;
    cursor: pointer;
}
.bid_btn:hover{
    background-color: #fcb346;
    color: #000000;
    transition: 0.3s;
}

.btn_text{
    font-weight: 600;
    font-size: 20px;
}

.application_play{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 65px;
    opacity: 50%;
    cursor: pointer;
    transition: 0.4s;

}

.application_play:hover{
    opacity: 100%;
}

.application_play_btn{
    display: flex;
   
    padding: 6px 0 0 29px;
    align-items: center;
    border: 2px solid #ffffff;
    width: 75px;
    height: 75px;
    border-radius: 50%;   
}

.play_video::after{
    content: '';
    position: absolute;
    inset: 0;
}

.play_btn_text{
    padding-left: 20px;
    width: 110px;
    line-height: 1.4;
}

.banner_link{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 70px;
}

.banner_link_media{
    margin-bottom: 30px;
}
.media_title{
    font-size: 14px;
}

.nav_media{
    padding-top: 15px;
    width: 170px;
}

.nav_media_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_link_tours{
    display: flex;
}

.tours_direction{
   cursor: pointer;
    margin: 0 10px auto;
    width: 285px;
    height: 200px;
    background-image:url(img/Island\ 1.svg);
    border-radius: 20px;
    color: #ffffff;
    background-size: cover;
    opacity: 0.8;   
}

.tours_direction:nth-child(1){
    background-image: url(img/Island\ 1.svg);
}
.tours_direction:nth-child(2){
    background-image: url(img/Island\ 2.svg);
}
.tours_direction:nth-child(3){
    background-image: url(img/Island\ 3.svg);
}

 .tours_direction:hover{
    box-shadow: 0 0 15px 0;
    opacity: 1;
    transition: 0.3s;
   
} 

.mini_containet{
    max-width: 83%;
    height: 100%;
    margin: 0 auto;
    padding-top: 7%;
}

.tours_direction_numder{
    margin-bottom: 40%;
    text-align: left;
}

.tours_direction_numder_title{
    font-weight: 700;
    font-size: 23px;
}

.tours_direction_numder_text{
    font-weight: 400;
    font-size: 16px;
}

.tours_direction_name{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.tours_direction_text{
    width: 24%;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

/* Tour */
#tour{
    margin-bottom: 160px;
}

.tour_travel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.tour_img{
    width: 830px;
    height: 475px;
    background-image: url(img/Hawaii\ 1.svg);
    color: #ffffff;
    border-radius: 15px;
  }

  .tour_img2{
    width: 830px;
    height: 475px;
    background-image: url(img/Hawaii\ 2.svg);
    color: #ffffff;
    border-radius: 15px;
  }

  .tour_content{
    margin-left: 100px;
    color: #000;
    max-width: 380px;
    font-size: 18px;
    text-align: left;
  }

  .tour_content_text{
    line-height: 1.5;
  }

  .tour_content_title{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 40px;
  }

  .tour_btn{
    width: 275px;
    height: 75px;
    margin-top: 50px;
    border: 2px solid #DD9428;
    color: #DD9428;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #ffffff;
    cursor: pointer;
  }

.tour_btn:hover{
    border: none;
    background-color: #DD9428;
    color: #000;
    transition: 0.5s;
}

/* Form */
#form{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-image: url(img/Form\ 1.svg);
}

.bid{
    display: flex;
    color: #000;
    margin-top: 150px;
    width: 52%;
}

.bid_content{
    width: 48%;
}

.bid_form{
    text-align: -webkit-center;
}

.form-example{
    display: inline-table;
    margin-bottom: 25px;
}

.form-content{
    height: 75px;
    margin-bottom: 25px;
}

.form-example::after{
    border: 1px solid #838080;
    background-color: #d2c7c7;
}

.form_input{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 500;
}

.bid_comment{
    max-width: 250px;
}

.comment_link{
    color: #DD9428;
}

/* Footer */
#footer_section{
    margin: 240px 0 75px 0;
}

.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_info{
    display: flex;
}

.footer_info_text{
    margin-left: 125px;
    max-width: 180px;
    color: #90A4B2;
    font-weight: 500;
    font-size: 14px;
}

.footer_info_text:hover{
    color: #2a2a2a;
}